* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

img {
    width: 100%;
}

/* MOBILE */
.header {
    padding: 0 16px 0 19px;
    height: 70px;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background-color: var(--white);
    z-index: 1000;
    width: 100%;
}

.header__contenedor--img {
    width: 100px;
    height: 70px;
}

.header__contenedor--img>img {
    width: 100px;
    height: 70px;
}

.header__contenedor--menu {
    position: relative;
}

.header__contenedor--input {
    display: none;
}

.header__contenedor--label {
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 18px;
    display: block;
}

.header__contenedor--barra,
.header__contenedor--barra::before,
.header__contenedor--barra::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.header__contenedor--barra::before {
    top: 4px;
}

.header__contenedor--barra::after {
    top: 8px;
}

.header__contenedor--navegacion {
    position: absolute;
    top: 40px;
    left: 40px;
    transition: all 0.5s ease-in-out;
    background-color: rgba(212, 229, 243, 0.6);
}

.header__contenedor--navegacion ul>li:nth-child(1) img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header__contenedor--navegacion {
    width: 100vw;
}

.header__contenedor--navegacion li {
    padding: 13.6px 217px 12px 19px;
    background-color: var(--background);
}

.header__contenedor--navegacion a {
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    color: var(--white);
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
}

.header__contenedor--input:checked~.header__contenedor--navegacion {
    transition: all 0.5s ease-in-out;
    left: calc(-100vw + 34px);
}

.header__contenedor--input:checked~label>.header__contenedor--barra {
    transform: translateY(5px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.header__contenedor--input:checked~label>.header__contenedor--barra::after {
    transform: translateY(-8px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.header__contenedor--input:checked~label>.header__contenedor--barra::before {
    transform: translateY(-13px) rotate(90deg);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.header__contenedor--navegacion a:active {
    color: var(--active);
    text-decoration: line-through;
}

.header__contenedor--navegacion a:hover {
    color: var(--agua);
    text-decoration: line-through;
}

.section {
    padding: 29px 0;
    margin-top: 40px;
}

.section__text {
    padding: 20px 20px 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section__formulario {
    text-align: center;
}

.section__formulario div {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
}

.section__formulario div>input {
    width: 100%;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.section__formulario div>textarea {
    max-width: 100%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section__formulario button {
    width: 100%;
    border: none;
    padding: 10px;
}

/* .section__formulario button:hover {
    background: linear-gradient(225deg, #d3e4f2 35%, #f8979e 100%);
    color: var(--white);
} */

.main {
    padding: 20px;
    text-align: center;
}

.main h2{
    padding: 20px;
}

.main__productos {
    display: block;
}

.main__productos--contenido {
    border: 1px solid #eee;
    box-shadow: 5px 5px 10px rgb(175, 175, 175);
    margin: 40px 0;
    border-radius: 15px;
}

.main__productos--img {
    width: 100%;
}   

.main__productos--img > img{
    border-radius: 15px 15px 0 0;
}

.main__productos--tallas h4{
    padding: 10px;
}

.main__productos--tallas ul{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main__productos--button{
    padding: 20px;
}

.main__productos--button button{
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}