* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    --background: #0000EC;
    --white: #FFFFFF;
    --black: #060A24;
    --agua: #335979;
    --active: rgba(6, 10, 36, 0.56);
}

img {
    width: 100%;
}

body,
html {
    overflow-x: hidden;
}

/* MOBILE */
.header {
    padding: 0 16px 0 19px;
    height: 70px;
}

.header__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #d4e5f3;
}

.header__contenedor--img {
    width: 100px;
    height: 70px;
}

.header__contenedor--img>img {
    width: 100px;
    height: 70px;
}

.header__contenedor--menu {
    position: relative;
}

.header__contenedor--input {
    display: none;
}

.header__contenedor--label {
    position: relative;
    cursor: pointer;
    height: 10px;
    width: 18px;
    display: block;
}

.header__contenedor--barra,
.header__contenedor--barra::before,
.header__contenedor--barra::after {
    content: '';
    width: 18px;
    height: 2px;
    background-color: black;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
}

.header__contenedor--barra::before {
    top: 4px;
}

.header__contenedor--barra::after {
    top: 8px;
}

.header__contenedor--navegacion {
    position: absolute;
    top: 40px;
    left: 40px;
    transition: all 0.5s ease-in-out;
    background-color: rgba(212, 229, 243, 0.6);
}

.header__contenedor--navegacion ul>li:nth-child(1) img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.header__contenedor--navegacion {
    width: 100vw;
}

.header__contenedor--navegacion li {
    padding: 13.6px 217px 12px 19px;
}

.header__contenedor--navegacion a {
    font-size: 18px;
    font-family: 'IBM Plex Mono', monospace;
    letter-spacing: 0;
    line-height: 28px;
    text-decoration: none;
    color: black;
}

.header__contenedor--input:checked~.header__contenedor--navegacion {
    transition: all 0.5s ease-in-out;
    left: calc(-100vw + 34px);
}

.header__contenedor--input:checked~label>.header__contenedor--barra {
    transform: translateY(5px) rotate(45deg);
    transition: all 0.3s ease-in-out;
}

.header__contenedor--input:checked~label>.header__contenedor--barra::after {
    transform: translateY(-8px) rotate(90deg);
    transition: all 0.3s ease-in-out;
}

.header__contenedor--input:checked~label>.header__contenedor--barra::before {
    transform: translateY(-13px) rotate(90deg);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.header__contenedor--navegacion a:active {
    color: var(--active);
    text-decoration: line-through;
}

.header__contenedor--navegacion a:hover {
    color: var(--agua);
    text-decoration: line-through;
}

/* SECTION */

.section {
    padding: 29px 0;
    margin-top: 40px;
}

.section__text {
    padding: 20px 20px 10px 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.section__formulario {
    text-align: center;
}

.section__formulario div {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
    width: 100%;
}

.section__formulario div>input {
    width: 100%;
    padding: 8px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    outline: none;
    border: 1px solid #e3e3e3;
}

.section__formulario div>textarea {
    max-width: 100%;
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 10px;
    border: 1px solid #e3e3e3;
}

.section__formulario button {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
}

/* MAIN */

.main {
    padding: 20px;
    text-align: center;
}

.main h2 {
    padding: 20px;
}

.main__productos {
    display: block;
}

.main__productos--contenido {
    border: 1px solid #eee;
    box-shadow: 5px 5px 10px rgb(175, 175, 175);
    margin: 40px 0;
    border-radius: 15px;
}

.main__productos--img {
    width: 100%;
}

.main__productos--img>img {
    border-radius: 15px 15px 0 0;
}

.main__productos--tallas h4 {
    padding: 10px;
}

.main__productos--tallas ul {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

.main__productos--button {
    padding: 20px;
}

.main__productos--button button {
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
}

/* BLOG */

.blog {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(212, 229, 243, 0.7);
    padding: 15px;
    border-radius: 10px;
}

.blog__contenido--text {
    padding: 35px 0 0 0;
}

.blog__contenido--text h5 {
    text-transform: uppercase;
    text-shadow: 2px 3px 5px;
}

.blog__contenido--img img {
    border-radius: 15px;
    filter: opacity(0.75);
}

/* FOOTER */
.footer {
    text-align: center;
}

.footer__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 16px;
    padding-bottom: 31px;
}

.footer__text p {
    margin-top: 15px;
}

.footer__icons figure a>img {
    width: 20px;
}

/* TABLET */
@media screen and (min-width: 650px) {

    /* HEADER */
    .header__contenedor {
        position: static;
    }

    .header__contenedor--label {
        display: none;
    }

    .header__contenedor--navegacion {
        position: static;
        width: 400px;
    }

    .header__contenedor--navegacion ul {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 400px;
    }

    .header__contenedor--navegacion li {
        border: none;
        margin-right: 48px;
        padding: 0;
        height: 24px;
    }

    .header__contenedor--navegacion ul li>a {
        text-transform: uppercase;
        color: var(--black);
        font-weight: 200;
    }

    .header__contenedor--navegacion ul li>a:hover {
        color: var(--agua);
        text-decoration: line-through;
    }

    .header__contenedor--navegacion ul li>a:active {
        color: var(--active);
        text-decoration: line-through;
    }

    /* SECTION */
    .section {
        padding: 0;
        margin: 0;
    }

    /* MAIN */
    .main__productos {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    /* BLOG */
    .blog__contenedor--flex {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .blog__contenido {
        width: 33.3%;
    }

    .blog__contenido--text {
        padding: 0;
        margin: 8px;
    }

    .blog__contenido--img img {
        max-width: calc(100% - 1.5rem);
    }
}

@media screen and (min-width: 1050px) {
    .section__formulario--1 {
        display: grid;
        grid-template-columns: 50% 50%;
        align-items: center
    }

    /* SECTION */
    .section__formulario button:hover {
        background: linear-gradient(225deg, #d3e4f2 35%, #f8979e 100%);
        color: var(--white);
    }

    .section__formulario h2 {
        padding: 20px;
    }

    /* MAIN */
    .main__button--vermas {
        display: inline-block;
    }

    .main__productos--button button:hover,
    .main__button--vermas button:hover {
        background: linear-gradient(225deg, #d3e4f2 35%, #f8979e 100%);
        color: var(--white);
    }

    /* BLOG */
    .blog__contenedor {
        padding: 30px;
    }

    /* FOOTER */
    .footer__icons {
        width: calc(100% - 30rem);
        margin: 0 auto;
    }

    .footer__icons figure a>img:hover {
        filter: invert(48%) sepia(46%) saturate(514%) hue-rotate(172deg) brightness(92%) contrast(91%);
    }
}

@media screen and (min-width: 1200px) {

    /* MAIN */
    .main__productos {
        width: calc(100% - 15rem);
        margin: 0 auto;
    }

    /* BLOG */
    .blog {
        width: calc(100% - 20rem);
        margin: 0 auto;
    }

    /* FOOTER */
    .footer__icons {
        width: calc(100% - 45rem);
        margin: 0 auto;
    }
}